<!-- Landing welcoming Page. -->
<div class="col-md-12">

    <app-carousel></app-carousel>

    <h3 class="centered-heading">Start learning now!</h3>

    <div class="centered-text">
        <button 
            class="btn btn-lg" 
            [routerLink]="['/register']"
            style="margin-top: 1em;"
            >Get Started
        </button>

        <button 
            class="btn btn-highlight btn-lg"  
            [routerLink]="['/login']"
            style="margin-top: 1em;"
            >I Already Have An Account
        </button>
    </div>
</div>
