<form (ngSubmit)="register()">
  <h1>Register</h1>
    <div>
      <i class="material-icons prefix">account_circle</i>
      <label>
        Username: <input type="text" name="username" [(ngModel)]="user.username" placeholder="Enter username...">
      </label>
    </div>
  
    <div>
      <i class="material-icons prefix">lock</i>
      <label>
        Password: <input type="password" name="password" [(ngModel)]="user.password" placeholder="Enter password...">
      </label>
    </div>
  
    <div>
      <i class="material-icons prefix">lock</i>
      <label>
        Confirm Password: <input type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="Confirm password...">
      </label>
    </div>

    <div>
        <i class="material-icons prefix">email</i>
        <label>
          Email: <input type="text" name="email" [(ngModel)]="user.email" placeholder="Email...">
        </label>
    </div>
  
    <div>
      <i class="material-icons prefix">face</i>
      <label>
        First Name: <input type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name...">
      </label>
    </div>
  
    <div>
      <i class="material-icons prefix">face</i>
      <label>
        Last Name: <input type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name...">
      </label>
    </div>
  
    <div>
      <i class="material-icons prefix">child_care</i>
      <label>
        Born on: <input type="date" name="bornOn" [(ngModel)]="user.bornOn">
      </label>
    </div>
  
    <button type="submit">Register</button>
</form>
  
