<form (ngSubmit)="login()">
    <div>
      <h1>Login</h1>
      <i class="material-icons prefix">account_circle</i>
      <label>
        Username: <input type="text" name="username" [(ngModel)]="user.username" placeholder="Enter username...">
      </label>
    </div>
  
    <div>
      <i class="material-icons prefix">lock</i>
      <label>
        Password: <input type="password" name="password" [(ngModel)]="user.password" placeholder="Enter password...">
      </label>
    </div>
  
    <button type="submit">Login</button>
</form>