<!-- Profile Page. -->
<div class="col-md-12">

    <!-- Title. -->
    <h1 class="centered-white-text">Profile</h1>

    <div class="center-all-forms">
        <i class="material-icons prefix">face</i>
        <label>
            First Name: {{profile.firstName}}
        </label>
        <br>
        <i class="material-icons prefix">face</i>
        <label>
            Last Name: {{profile.lastName}}
        </label>
        <br>
        <i class="material-icons prefix">email</i>
        <label>
            Email: {{profile.email}}    
        </label>
        <br>
        <i class="material-icons prefix">child_care</i>
        <br>
        <label>
            Birthday: {{profile.bornOn}}    
        </label>
        <br>
        <i class="material-icons prefix">star_rate</i>
        <label>
            Points: {{profile.quizPoints}}    
        </label>
    </div>

    <!-- Line Break. -->
    <br>
  
    <!-- Edit Profile Button -->
    <div class="center-all-forms">
      <button nbButton 
              fullWidth 
              status="primary" 
              size="large"
              [routerLink]="['/edit']"
              class="btn button-disabled">
              Edit Profile
      </button>
    </div>
</div>