<!-- Login Page. -->
<div class="col-md-12">

    <!-- Title. -->
    <h1 class="centered-white-text">Login</h1>

    <div class="center-all-forms">
        <h1>Profile</h1>
        <i class="material-icons prefix">face</i>
        <label>
            First Name: {{profile.firstName}}
        </label>
        <br>
        <i class="material-icons prefix">face</i>
        <label>
            First Name: {{profile.lastName}}
        </label>
        <br>
        <i class="material-icons prefix">email</i>
        <label>
            Email: {{profile.email}}    
        </label>
        <br>
        <i class="material-icons prefix">child_care</i>
        <label>
            Birthday: {{profile.bornOn}}    
        </label>
    </div>
</div>