<!-- About Us Page. -->
<div class="col-md-12">

    <!-- Title. -->
    <h1 class="centered-heading">About Us</h1>

    <div class="centered-text">
        <p>'Know It' is a new educational platform which was implemented by Daniel Vichinyan. He is a final-year computer science student at the University of Surrey. <br> He also works as a Full-Stack Software Developer at Bul Si which is a company located in Bulgaria. <br> 'Know It' offers an innovative and interactive way of teaching and studying. It offers both lectures and quiz competitions to students. <br> It provides helpful tools for both teachers and students in order to make teaching and studying an enjoyable experience.</p>
    </div>
</div>