.container {
    margin-top: 10%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 2.5%;
        }
    }
}