.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;

        button {
            margin-top: 2.5%;
        }
    }
}

.centered-white-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    flex-direction: column;
}