<!-- Edit Profile Page. -->
<div class="col-md-12">

    <!-- Title. -->
    <h1 class="centered-white-text">Edit Profile</h1>
    
    <!-- Edit Profile From. -->
    <div [formGroup]="editProfileForm" aria-labelledby="title">
  
      <!-- First Name Field. -->
    <div class="form-control-group center-all-forms">

        <!-- First Name Label. -->
        <span class="label-with-link">
          <label class="centered-white-text" for="input-firstName">First Name:</label>
        </span>
  
        <!-- First Name Input. -->
        <input  nbInput
                autofocus
                class="form-control form-half-width"
                fieldSize="large"
                id="input-firstName"
                formControlName="firstName"
                [(ngModel)]="profile.firstName"
                [ngClass]="{'input-success': f.firstName.valid && f.firstName.touched, 
                            'input-error': f.firstName.invalid && f.firstName.dirty}"
                placeholder="First Name">
  
        <!-- First Name Required Error. -->
        <div class="alert alert-danger form-half-width" *ngIf="f.firstName.touched && f.firstName.errors?.required">
          This field is required.
        </div>
  
        <!-- First Name Min Length Error -->
        <div class="alert alert-danger form-half-width" *ngIf="f.firstName.errors?.minlength">
          First Name must be at least {{f.firstName.errors?.minlength.requiredLength}} letters!
        </div>
  
        <!-- First Name Max Length Error -->
        <div class="alert alert-danger form-half-width" *ngIf="f.firstName.errors?.maxlength">
          First Name must be at most {{f.firstName.errors?.maxlength.requiredLength}} letters!
        </div>
  
      </div>
      
      <!-- Line Break. -->
      <br>
  
      <!-- Last Name Field. -->
      <div class="form-control-group center-all-forms">
  
        <!-- Last Name Label. -->
        <span class="label-with-link">
          <label class="centered-white-text" for="input-lastName">Last Name:</label>
        </span>
  
        <!-- Last Name Input. -->
        <input  nbInput
                autofocus
                class="form-control form-half-width"
                fieldSize="large"
                id="input-lastName"
                formControlName="lastName"
                [(ngModel)]="profile.lastName"
                [ngClass]="{'input-success': f.lastName.valid && f.lastName.touched, 
                            'input-error': f.lastName.invalid && f.lastName.dirty}"
                placeholder="Last Name">
  
        <!-- Last Name Required Error. -->
        <div class="alert alert-danger form-half-width" *ngIf="f.lastName.touched && f.lastName.errors?.required">
          This field is required.
        </div>
  
        <!-- Last Name Min Length Error -->
        <div class="alert alert-danger form-half-width" *ngIf="f.lastName.errors?.minlength">
          Last Name must be at least {{f.lastName.errors?.minlength.requiredLength}} letters!
        </div>
  
        <!-- Last Name Max Length Error -->
        <div class="alert alert-danger form-half-width" *ngIf="f.lastName.errors?.maxlength">
          Last Name must be at most {{f.lastName.errors?.maxlength.requiredLength}} letters!
        </div>
  
      </div>
  
      <!-- Line Break. -->
      <br>
  
      <!-- Born On Field. -->
      <div class="form-control-group center-all-forms">
  
        <!-- Born On Label. -->
        <span class="label-with-link">
          <label class="centered-white-text" for="input-bornOn">Born On:</label>
        </span>
  
        <!-- Last Name Input. -->
        <input  nbInput
                autofocus
                class="form-control form-half-width"
                fieldSize="large"
                id="input-bornOn"
                formControlName="bornOn"
                [(ngModel)]="profile.bornOn"
                [ngClass]="{'input-success': f.bornOn.valid && f.bornOn.touched, 
                            'input-error': f.bornOn.invalid && f.bornOn.dirty}"
                type="date"
                placeholder="Born On">
  
        <!-- Last Name Required Error. -->
        <div class="alert alert-danger form-half-width" *ngIf="f.bornOn.touched && f.bornOn.errors?.required">
          This field is required.
        </div>
      </div>
  
      <!-- Line Break. -->
      <br>
    
      <!-- Email Address Field. -->
      <div class="form-control-group center-all-forms">
  
        <!-- Email Label. -->
        <span class="label-with-link">
          <label class="centered-white-text" for="input-email">Email address:</label>
        </span>
  
        <!-- Email Input. -->
        <input  nbInput
                class="form-control form-half-width"
                fieldSize="large"
                id="input-email"
                formControlName="email"
                [(ngModel)]="profile.email"
                [ngClass]="{'input-success': f.email.valid && f.email.touched, 
                            'input-error': f.email.invalid && f.email.dirty}"
                placeholder="Email address">
    
        <!-- Email Required Error. -->
        <div class="alert alert-danger form-half-width" *ngIf="f.email.touched && f.email.errors?.required">
          This field is required.
        </div>
  
        <!-- If the input Email is not in the correct regex pattern. (handle errors) -->
        <div class="alert alert-danger form-half-width" *ngIf="f.email.errors?.pattern">
          Email must be in format example@example.com
        </div>
  
      </div>
  
      <!-- Line Break.-->
      <br>
    
      <!-- Edit Profile Button. Calls the editProfile() function. -->
      <div class="center-all-forms">
        <button nbButton 
                fullWidth 
                status="primary" 
                size="large"
                [routerLink]="['/profile']"
                (click)="editProfile()" 
                [disabled]="submitted || !editProfileForm.valid"
                [class.btn-pulse]="submitted" 
                class="btn button-disabled">
                Edit Profile
        </button>
      </div>
    </div>
  </div>